$theme-color: #00cc99;
$light-color: #f6f6f6;
$dark-color: #333;
$white: #fff;
$black: #000;

* {
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	-webit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

body{
  font-family: '微軟正黑體';
}

.container-fluid {
	width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.clearfix {
	clear: both;
	content: '';
	display: table;
}

section {
	padding-bottom: 30px;
}

.social-link-field {
	background: $light-color;
	height: 35px;
	ul {
		float: right;
		padding: 5px;
	}
	li {
		float: left;
		padding: 5px;
	}
	li.facebook {
		border-right: 2px solid #ccc;
	}
	li.facebook>a {
		color: #4460a0;
	}
	li.twitter>a {
		color: #67c0ef;
	}
}

.header-menu {
	position: relative;
	> .nav {
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px 0;
	}
	> .nav > li {
		float: left;
		position: relative;	
	}
	> .nav > li a {
		display: block;
		padding: 15px 20px;
		color: $theme-color;
	}

	> .nav > li > a:hover {
		color: darken($theme-color, 15%);
		border-bottom: 2px solid darken($theme-color, 15%);
	}

	.logo a {
		background: url("http://www.hexschool.com/images/logo.png");
		float: left;
		display: inline-block;
		width: 164px;
		height: 39px;
		margin: 10px 0px;
	}

	.dropdown {
		display: none;
		position: absolute;
		background: lighten($theme-color, 50%);
		top: 50px;
		z-index: 99;
	}

	.dropdown li {
		min-width: 120px;
		border-bottom: 1px solid darken($theme-color, 5%);
		background: lighten($theme-color, 50%);
	}

	.dropdown li a {
		display: block;
	}

	.dropdown li a:hover {
		color: $white;
		background: darken($theme-color, 15%);
	}
}

.slider-wrapper {
	z-index: 1;
}

.class-wrapper {
	float: left;
	width: 31.33333%;
	min-height: 400px;
	display: inline-block;
	box-shadow: 0 2px 2px #ccc;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	padding: 0 10px;
	margin: 0 1%;
	display: block;
	color: $black;
	position: relative;
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;
		border-radius: 10px;
		transition: all .5s;
	}
	.overlay i {
		color: $white;
		position: absolute;
		top: 45%;
		left: 45%;
		font-size: 3em;
	}
	&:hover .overlay {
		opacity: 1;
	}
	.img-field {
		padding: 15px;
	}
	.img-field .img-responsive {
		max-width: 100%;
		height: auto;
	}
	.img-field a {
		display: block;
	}
}

.text-field {
	padding: 10px;
	h3 {
		margin-bottom: 10px;
		font-weight: bold;
	}
	p {
		line-height: 1.5em;
	}
}

.table-field {
	padding-right: 15px;
	padding-left: 15px;
	h2 {
		font-size: 26px;
		padding: 15px 0;
		text-align: center;
		font-weight: bold;
	}
}

.table  {
  width: 100%;
  text-align: left;
	th {
		background-color: #f7f7f7;
		font-weight: bold;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 10px;
	}
	td {
		border-bottom: 1px solid #ddd;
		padding: 10px;
	}

	td.darken {
		color: darken($theme-color, 15%);
	}

	td.darken {
	  color: #008060;
	}
}

.contact-form-wrapper {
	width: 100%;
	background: linear-gradient(to bottom, rgb(0,101,76), rgb(0,151,144));
	h2 {
		text-align: center;
		font-size: 26px;
		font-weight: bold;
		color: $white;
		padding: 15px 0;
		line-height: 1.5em;
	}

	form {
		width: 50%;
		float: left;
	}

	label {
		display: block;
		color: $white;
		line-height: 1.5em;
	}

	input {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.contact-form-field {
		width: 100%;
	}
	
	.contact-form-message {
		padding: 15px;
	}

	.contact-form-message textarea {
		width: 100%;
	}

	.contact-form-profile {
		position: relative;
		padding: 15px;
		button {
			float: right;
			color: $white;
			background: $theme-color;
			border-width: 0;
			padding: 5px 20px;
		}
	}
}

footer {
	margin: 15px 0;
	.footer-logo {
		float: left;
	}
	
	.footer-logo img {
	    filter: grayscale(100%);
	}

	.footer-info {
		float: right;
	}
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: $theme-color;
    color: #fff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity .3s ease-out;
    opacity: 0.5;
    &:hover {
        background: darken($theme-color, 15%);
        opacity: 1;
    }
}

a.mobile-btn {
	display: none;
}

@media (max-width: 768px) {
	.class-wrapper {
		width: 48%;
		margin-bottom: 10px;
	}
}

@media (max-width: 569px) {
	.header-menu  {
		.nav > li {
			float: none;
		}
		li > a {
			display: block;
			border-bottom: 2px solid darken($theme-color, 15%);
		}
		.nav {
			max-height: 0;
			overflow: hidden;
			position: absolute;
			z-index: 100;
			top: 45px;
			left: 0;
			right: 0;
			background: #0F222B;
		}
		a.mobile-btn {
			display: block;
			margin: 1px;
			color: $theme-color;
			position: absolute;
			top: 15px;
			right: 0px;
			font-size: 30px;
		}
		.nav-show {
			max-height: 500px;
		}

		.dropdown {
			position: initial;
		}
	}



	.class-wrapper {
		width: 98%;
		margin-bottom: 10px;
	}

	footer {
		.footer-logo, .footer-info {
			float: none;
			display: block;
			margin: 5px 0;  
		}
	}
}